{% extends "base.html" %}
{#{% load static %}#}




{% block script %}

    <script>
    $(document).ready(function () {
         const url = '/api/chart/data/';
        const method = 'GET';
        let defaultData = [];
        let labels = [];


        $.ajax({
            url: url,
            method: method,
            success: function (data) {
                console.log(data);
                labels = data.labels;
                defaultData = data.default;
                renderChart()

            }, error: function (error_data) {
                $.alert("an error occured");
                $.alert(error_data)
            }

        });
        function renderChart(){

            const ctx = document.getElementById('myChart').getContext('2d');
            const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: '# of Posts',
                    data: defaultData,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        }

    });

</script>
{% endblock %}




{% block content %}

<div class="row">
    <div class="col-sm-4" url-endpoint="{% url 'api-data' %}">

        <h1>Charts</h1>
        <canvas id="myChart" width="50" height="50"></canvas>

    </div>
</div>



{% endblock %}