{% extends "base.html" %}

{% block title %}
    Tags | {{ block.super }}
{% endblock %}

{% block content %}
<div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-md-8 blog-main">

      <div class="my-3 p-3 bg-white rounded box-shadow">
      {% if not request.GET.q %}
        <div class="form my-5 col-sm-offset-3" >
                 <h1>{{ obj.tag }}</h1>
        </div>
    {% endif %}
        <h6 class="border-bottom border-gray pb-2 mb-0 my-1">Recent updates</h6>

                        <div class="card mb-3" id="post-container">
                            {% for post in obj.get_post %}
                                {{ post.content }} <br/>
                            {% endfor %}
                            
                    </div>


        <small class="d-block text-right mt-3">
          <a href="#" id="loadmore">Load More</a>
        </small>
      </div>
        </div>
        <aside class="col-md-4 blog-sidebar" >
      <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Suggestions</h6>
        <div class="media text-muted pt-3">
          <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">

          <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">Full Name</strong>
              <a href="#">Follow</a>
            </div>
            <span class="d-block">@username</span>
          </div>
        </div>
        <small class="d-block text-right mt-3">
          <a href="#">All suggestions</a>
        </small>
      </div>

        </aside>
        </div>


{% endblock %}