{% extends "base.html" %}

{% block title %}
    Profile
{% endblock %}

{% block script %}
     <script>

      $(document).ready(function () {
            loadPostContainer("post-container")
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-sm-3 col-xs-12" >
        <h1>{{ object.username }}</h1>
         <hr/>
        <p> Followers: {{ object.follow.all.count }}</p>
        <p><a class="btn btn-link" href="{% url 'profiles:user-follow' username=object.username %}">
            {% if following %}
                UnFollow
                {% else %}
                Follow
            {% endif %}

        </a></p>

    </div>

    <div class="col-sm-6 col-xs-12">
        <h1>Posts</h1>
     <hr/>
{#        {% for post in object.post_set.all %}#}
{#            {{ post }} </br>#}
{##}
{#        {% endfor %}#}

                        <div class=" lead card mb-3" id="post-container" data-url="/api/{{object.username}}/posts/">

                        </div>

        <small class="d-block text-right mt-3">
          <a href="#" id="loadmore">Load More</a>
        </small>
     </div>
    <hr/>
     <div class="col-sm-3 col-xs-12">
          <h1>Following <small class="badge-primary">{{ object.profile.get_following.count }}</small></h1>
     <hr/>
        {% for user in object.profile.get_following %}
            <a href="/{{ user.username }}">{{ user.username }}</a>
             </br>
            {% empty %}
            <h1> Not following any user</h1>

        {% endfor %}
    <hr/>
     <h1>Followed By</h1>
        {% for profile in object.follow.all %}
            <a href="/{{ profile.user.username }}">{{ profile.user.username }}</a> </br>
            {% empty %}
            <h4> Not followed by any user</h4>
             {% endfor %}
     </div>

    </div>

{% endblock %}