{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
        <main role="main" class="container">
        <div class="row">
        <div class="col-md-8 blog-main">

      <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
          {% for object in object_list %}
             <div class="media text-muted pt-3">
          <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded" src="">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">{{ object.user }}</strong>
            {{ object.content }}
               <small class="d-block text-gray-dark mr-lg-2 py-2"> by - {{ object.user }} | {{ object.timestamp|timesince }} |
                <a href="{{ object.get_absolute_url }}">View</a></small>
          </p>
        </div>
          {% endfor %}

        <small class="d-block text-right mt-3">
          <a href="#">All updates</a>
        </small>
      </div>
        </div>
        <aside class="col-md-4 blog-sidebar" >
      <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Suggestions</h6>
        <div class="media text-muted pt-3">
          <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">

          <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">Full Name</strong>
              <a href="#">Follow</a>
            </div>
            <span class="d-block">@username</span>
          </div>
        </div>
        <small class="d-block text-right mt-3">
          <a href="#">All suggestions</a>
        </small>
      </div>

        </aside>
        </div>
        </main>

{% endblock %}