{% load i18n %}
<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark" data-spy="affix">
      <a class="navbar-brand" href="{% url 'posts:post-list' %}">Academy Book</a>
      <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
      </button>
house
      <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">{{ title }} <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">{{ notify }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">{{ profile }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Switch account</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ settings }}</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
           <form id="navbar-search-form" method="GET" action="{% url "posts:search" %}" class="form-inline my-2 my-lg-1">
        <label>
            <input class="form-control mr-sm-2" type="text" name="q" placeholder="{{ search }}"/>
        </label>
        <input class="btn btn-outline-success my-2 my-sm-2" type="submit" value="{{ search }}"/>
               {% if request.user.is_authenticated %}
                    <a href="{% url 'profiles:logout' %}" class="btn btn-outline-success my-2 my-sm-0" >Logout</a>
                   {% else %}
                     <a href="{% url 'profiles:login' %}" class="btn btn-outline-success my-2 my-sm-0" >Login</a>
                    <a href="{% url 'profiles:register' %}" class="btn btn-outline-success my-2 my-sm-0" >Register</a>
               {% endif %}



    </form>
      </div>

</nav>



