{% load i18n %}
<h1> {% trans "let's translate this" %}</h1>

    {% get_current_language as LANGUAGE_CODE %}
    <h1>{{ LANGUAGE_CODE }} </h1>
    <h1>{{ title }}</h1>

    <form class="form-control" action="{% url 'set_language' %}" method="post"> {% csrf_token %}
        <input type="hidden" name="text" value="{{ redirect_to }}"/>
        <select name="language" id="">
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for lang in languages %}
                <option value="{{ lang.code }}" {% if lang.code == LANGUAGE_CODE %} selected

                {% endif %} >
                {{ lang.name_local }} ({{ lang.code }})
                </option>
            {% endfor %}
        <input type="submit" value="Go">

        </select>

    </form>

        <div class="row" >
        <div class="col-md-8 blog-main">