{% extends "base.html" %}
{% load i18n %}
{% block title %}
    Post List | {{ block.super }}
{% endblock %}

{% block script %}
     <script>

      $(document).ready(function () {
            loadPostContainer("post-container")
        });
    </script>
{% endblock %}
{% block content %}


        {% if not request.user.customer.membership %}
                  {% include 'plans/join.html' %}
          {% else %}


            <div class="my-3 p-3 bg-white rounded box-shadow">
      {% if not request.GET.q %}
        <div class="form my-5 col-sm-offset-3" >
            {% include "form.html" with form=create_form  action_url=create_url btn_title="post" form_class="post-form" %}
        </div>
    {% endif %}
        <h6 class="border-bottom border-gray pb-2 mb-0 my-1">Recent updates</h6>

                        <div class="card mb-3" id="post-container" data-url="/api/posts/">

                    </div>


        <small class="d-block text-right mt-3">
          <a href="#" id="loadmore">Load More</a>
        </small>
      </div>
        <aside class="col-md-4 blog-sidebar" >
      <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Suggestions</h6>
        <div class="media text-muted pt-3">


          <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">Full Name</strong>
              <a href="#">Follow</a>
            </div>
            <span class="d-block">@username</span>
          </div>
        </div>
        <small class="d-block text-right mt-3">
          <a href="#">All suggestions</a>
        </small>
      </div>

        </aside>
        </div>

{% endif %}

{% endblock %}