{% extends "base.html" %}

{% block title %}
    Post List | {{ block.super }}
{% endblock %}

{% block script %}
     <script>

      $(document).ready(function () {
            loadPostContainer("post-container")
        });
    </script>
{% endblock %}
{% block content %}

        <div class="row" >
        <div class="col-md-8 blog-main">

      <div class="my-3 p-3 bg-white rounded box-shadow">

      {% if request.GET.q %}
        <h6 class="border-bottom border-gray pb-2 mb-0 my-1">Search Results For {{ request.GET.q }}</h6>

        {% endif %}

                        <div class="card mb-3" id="post-container" data-url="/api/posts/search-api/">

                    </div>


        <small class="d-block text-right mt-3">
          <a href="#" id="loadmore">Load More</a>
        </small>
      </div>
        </div>
        <aside class="col-md-4 blog-sidebar" >
      <div class="my-3 p-3 bg-white rounded box-shadow">

        <h6 class="border-bottom border-gray pb-2 mb-0">Suggestions</h6>
        {% for user in users %}
        <div class="media text-muted pt-3">

          <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">

            <div class="d-flex justify-content-between align-items-center w-100">




              <strong class="text-gray-dark">{{ user.username }}</strong>

              <a href="{% url 'profiles:user-follow' username=user.username %}">Follow</a>
            </div>

                  <span class="d-block">@{{user.username}}</span>



          </div>

        </div>
            {% empty %}
            <p class="lead"> No such user found</p>
          {% endfor %}
        <small class="d-block text-right mt-3">
          <a href="#">All suggestions</a>
        </small>
      </div>

        </aside>
        </div>


{% endblock %}