{#{% extends 'base.html' %}#}
{##}
{#{% block title %}#}
{##}
{#{% endblock %}#}
{##}
{##}
{#{% block content %}#}
{#    <form method="GET" action="{% url "posts:post-list" %}">#}
{#        <label>#}
{#            <input type="text" name="q" placeholder="Search"/>#}
{#        </label>#}
{#        <input type="submit" value="Search"/>#}
{#    </form>#}
{#{% endblock %}#}